<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH0wJ4hw9Rtlgn_VIxvd0Dizba0R9VIKY</string>
	<key>GCM_SENDER_ID</key>
	<string>171781660847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>health-tracker-app-141c2</string>
	<key>STORAGE_BUCKET</key>
	<string>health-tracker-app-141c2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171781660847:ios:9d5f4625910fa9eaf0f45a</string>
</dict>
</plist>